@import url("../App.css");

.hero-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
    height: 600px;
    padding: 0 10vw;
}

.hero-intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: monospace;
    width: 80vw;
    color: var(--dark-blue);
    gap: 4rem;
}

.hero-intro-text>h1 {
    font-size: 3.5rem;
}

.hero-intro-text>h2 {
    width: 80%;
}

.hero-portfolio-button {
    color: inherit;
    text-decoration: none;
    background-color: var(--dark-blue);
    color: var(--off-white);
    padding: 1rem;
    font-size: 2rem;
    border: 2px solid var(--dark-blue);
    border-radius: .5rem;
}

.hero-portfolio-button:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}