@import url("../App.css");

.hero-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
    height: 600px;
    padding: 0 10vw;
}

.hero-intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: monospace;
    width: 80vw;
    color: var(--dark-blue);
}

.hero-intro-text>h1 {
    font-size: 3.5rem;
}

.hero-intro-text>h2 {
    width: 80%;
}
