.life-map-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border-top: 4px solid var(--dark-blue);
    padding: 2rem 0 2rem 0;

}

.life-map-cont>h1 {
    font-size: 3.5rem;
}

.spacer {
    background-color: var(--blue);
    height: 0.5rem;
    margin: 1rem;
    width: 5vw;
    border-radius: 0.5rem;
}

.map-cont {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.world-map-svg {
    transform: scale(0.5);
    margin-left: -40rem;
    margin-top: -15rem;
    margin-bottom: -15rem;
    margin-right: -35rem;
}

#experience-info-cont {
    background-color: white;
    padding: 15px;
    margin: 15px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 4px solid var(--dark-blue);
    border-radius: 8px;
}

#experience-img {
    max-width: 300px;
    max-height: 80px;
}

#experience-title {
    font-size: 2rem;
    font-weight: bold;
}

#experience-venue {
    font-weight: bold;
    font-size: 1.25rem;
}

#experience-location {
    font-size: 1.25rem;
    font-style: italic;
}

#experience-description {
    padding: 15px 0 0 0;
}

.timelines-cont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem 0 1rem 0;
    cursor: pointer;
}

.timeline-name {
    text-align: right;
    padding-right: 5px;
}

.timeline-name {
    width: 100px;
}

.work-timeline-cont {
    height: 26px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(45, 1fr);
    align-items: center;
}

.spec-medic.first {
    grid-column: 2 / span 3;
}

.spec-medic.second {
    grid-column: span 9;
}

.megazone-intern {
    grid-column: span 1;
}

.resolution-economics {
    grid-column: span 2;
}

.warm-outdoors {
    grid-column: span 7;   
}

.cic {
    grid-column: span 6;
}

.amcham {
    grid-column: span 3;
}

.one-more-drink {
    grid-column: span 7;
}

.free-lance {
    grid-column: span 7;
}

.education-timeline-cont {
    height: 26px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(45, 1fr);
    align-items: center;
}

.education-item, .work-item  {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    height: 22px;
    padding: .25rem;
    gap: 5px;
    text-align: center;
    background-color: white;
}

.work-item {
    border-right: none;
}

.work-item:last-child {
    border-right: 2px solid black;
}

.education-item>img, .work-item>img  {
    height: 18px;
    
}

.education-item>div, .work-item>div {
    font-weight: bold;
    width: 100%;
}

.miami-university {
    background-color: rgb(245, 244, 244);
    background-size: cover;
    background-position: center;
    grid-column: span 12;

}

.jiaotong-university {
    grid-column: 19 / span 6;
    border-right: none;
}

.fudan-university {
    grid-column: 25 / span 8;
    
}

.odin-project {
    grid-column: 40 / span 7;
}

#selected-experience {
    background-color: var(--blue);
    color: white;
}

.selected-country {
    fill: var(--blue);
}

.about-me-skills-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0 0 0;
}

.about-me-skills-cont>h2 {
    font-size: 3.5rem;
}