@import url("../App.css");

.my-projects-cont {
    border-top: 4px solid var(--dark-blue);
    background-color: var(--dark-blue);
    padding: 2rem 5rem;
    color: var(--off-white);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.my-projects-title {
    font-size: 3.5rem;
}

.my-projects-items {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.my-projects-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    height: 85vh;
    
}

.my-projects-item-section {
    border: 1px solid white;
}